body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f8f8;
}


/* Navigation Bar */
.navbar {
    background-color: #e5e5e5;
    padding: 15px;
}

.nav-menu a {
    display: inline-block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
}


/* Home */
.welcome-box {
    background-color: #eeeeee;
    padding: 50px 30px;
    border-radius: 8px;
}


/* Bags */
.reason-box {
    background-color: white;
    border: 1px solid #dddddd;
    min-height: 170px;
    padding: 25px !important;
}


/* About */
.about-box {
    background-color: #eeeeee;
    padding: 35px 30px;
    border-radius: 8px;
}


/* Contact */
.contact-box {
    background-color: #eeeeee;
    padding: 35px 30px;
    border-radius: 8px;
}


/* Footer */
footer {
    background-color: #d9d9d9;
    color: #333;
    padding: 25px;
}